.navbar {
  height: 80px;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar li {
  padding: 10px;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: #ea9527;
}

.logo a {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: white;
}

.logo img {
  width: 45px;
  padding-bottom: 3px;
}

.contact {
  background-color: #ea9527;
}

.rotate {
  animation: logo-spin infinite 2s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
